////////////////////////////////
		//Variables//
////////////////////////////////

@mixin columns($values, $name) {
  @each $var in $values {
    .col-#{$name}-#{$var} {
      flex-basis: calc(#{$var} * 8.33333333%);
      max-width: calc(#{$var} * 8.33333333%);
    }
    .col-#{$name}-offset-#{$var} {
      margin-left: calc(#{$var} * 8.33333333%);
    }
  }
}

@mixin flex-containers($properties) {
  @each $var in $properties {
    .flex-#{$var} {
      display: flex;
      flex-direction: #{$var};
      flex-wrap: wrap;
    }
  }
}

@mixin padding($values) {
  @each $var in $values {
    .padding-top-#{$var} {
      padding-top: #{$var}px;
    }
    .padding-bottom-#{$var} {
      padding-bottom: #{$var}px;
    }
  }
}
//////////////////////////////////
		//Grid//
////////////////////////////////

@include columns(1 2 3 4 5 6 7 8 9 10 11 12, xs);

@media (min-width: 48em) {
  .container {
    width: 46.125em;
    max-width: 100%;
  }
  @include columns(1 2 3 4 5 6 7 8 9 10 11 12, sm);
}

@media (min-width: 64em) {
  .container {
    width: 62.125em;
    max-width: 100%;
  }
  @include columns(1 2 3 4 5 6 7 8 9 10 11 12, md);
}

@media (min-width: 75em) {
  .container {
    width: 73.125em;
    max-width: 100%;
  }
  @include columns(1 2 3 4 5 6 7 8 9 10 11 12, lg);
}

div[class^="col-"] {
  box-sizing: border-box;
  padding: .5em;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1em;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

@include flex-containers(row row-reverse column column-reverse);

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

//////////////////////////////////
		//Layout//
////////////////////////////////

body {
  color: #171717;
  font-size: 100%;
  background-color: white;
}

.flex-item {
  height:50px;
  flex:0 1 auto;
  margin: .625em;
  padding: .625em .625em 0;
  font-size: 1.5em;
}

.flex-1 {
  flex: 1;
}

ul {
  display: flex;
  margin: 0;
  padding: .313em;
}

li {
  flex: 0 0 auto;
  padding: 1.25em .625em;
  list-style: none;
  margin: .155em;
}

nav img {
  margin-right: auto
}

////////////////////////////////
		//Utility classes//
////////////////////////////////

@include padding(0 5 10 15 20 30 40 50);

.white {
  background-color: white;
}
.blue {
  background-color: dodgerblue;
}

.grey {
  background-color: grey;
}

.img {
  width: 100%;
}

////////////////////////////////
		//Components//
////////////////////////////////

.parallax {
  height: calc(100vh - 75px);
  background: url(/static/src/images/placeholder.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.single-post-container {
  border: 3px solid gray;
}
.single-post-container__content {
  padding: 0 .625em .625em .625em;
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}
