{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="flex-row parallax">
            </div>
        </div>

    </div>
    <div class="container padding-top-30">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="">
                    <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
                    <h1>{% lorem 2 w %}</h1>
                    <p>{% lorem %}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="">
                    <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
                    <h1>{% lorem 2 w %}</h1>
                    <p>{% lorem %}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="">
                    <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
                    <h1>{% lorem 2 w %}</h1>
                    <p>{% lorem %}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="">
                    <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
                    <h1>{% lorem 2 w %}</h1>
                    <p>{% lorem %}</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="flex-row flex-start">
                    <div class="flex-item blue">Flex Start</div>
                    <div class="flex-item blue">Flex Start</div>
                    <div class="flex-item blue">Flex Start</div>
                    <div class="flex-item blue">Flex Start</div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="flex-row flex-center">
                    <div class="flex-item blue">Flex Center</div>
                    <div class="flex-item blue">Flex Center</div>
                    <div class="flex-item blue">Flex Center</div>
                    <div class="flex-item blue">Flex Center</div>
                </div>
            </div>
             <div class="col-xs-12">
                <div class="flex-row flex-end">
                    <div class="flex-item blue">Flex End</div>
                    <div class="flex-item blue">Flex End</div>
                    <div class="flex-item blue">Flex End</div>
                    <div class="flex-item blue">Flex End</div>
                </div>
            </div>
            <div class="col-xs-12">
                <h1>{% lorem 2 w %}</h1>
                <p>{% lorem 4 p %}</p>
            </div>
        </div>
    </div>
{% endblock content %}
