{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrap container-fluid">
    <section class="page-section">
        <div class="row">
            <div class="col-xs-12">
                <div class="flex-row parallax">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="flex-row flex-start">
                    <div class="flex-item blue">Flex Start</div>
                    <div class="flex-item blue">Flex Start</div>
                    <div class="flex-item blue">Flex Start</div>
                    <div class="flex-item blue">Flex Start</div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="flex-row flex-end">
                    <div class="flex-item blue">Flex End</div>
                    <div class="flex-item blue">Flex End</div>
                    <div class="flex-item blue">Flex End</div>
                    <div class="flex-item blue">Flex End</div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="flex-row flex-center">
                    <div class="flex-item blue">Flex Center</div>
                    <div class="flex-item blue">Flex Center</div>
                    <div class="flex-item blue">Flex Center</div>
                    <div class="flex-item blue">Flex Center</div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-6">
                <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-6">
                <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-6">
                <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-6">
                <img class="img" src="{% static 'src/images/nothern-lights.jpg' %}">
            </div>
        </div>
</section>
{% endblock content %}
