{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row padding-bottom-30 padding-top-30">
            <div class="col-xs-12 col-sm-6">
                <div class="single-post-container">
                    <img class="img" src="{% static 'src/images/placeholder-small.jpg' %}">
                    <div class="single-post-container__content">
                        <h2>{% lorem 2 w %}</h2>
                        <p><i class="fa fa-user"> </i> Speaker </p>
                        <p>{% lorem %}</p>
                        <a href="{% url 'detail' %}" class="flex-end">View</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="single-post-container">
                    <img class="img" src="{% static 'src/images/placeholder-small.jpg' %}">
                    <div class="single-post-container__content">
                        <h2>{% lorem 2 w %}</h2>
                        <p><i class="fa fa-user"> </i> Speaker </p>
                        <p>{% lorem %}</p>
                        <a href="{% url 'detail' %}" class="flex-end">View</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="single-post-container">
                    <img class="img" src="{% static 'src/images/placeholder-small.jpg' %}">
                    <div class="single-post-container__content">
                        <h2>{% lorem 2 w %}</h2>
                        <p><i class="fa fa-user"> </i> Speaker </p>
                        <p>{% lorem %}</p>
                        <a href="{% url 'detail' %}" class="flex-end">View</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="single-post-container">
                    <img class="img" src="{% static 'src/images/placeholder-small.jpg' %}">
                    <div class="single-post-container__content">
                        <h2>{% lorem 2 w %}</h2>
                        <p><i class="fa fa-user"> </i> Speaker </p>
                        <p>{% lorem %}</p>
                        <a href="{% url 'detail' %}" class="flex-end">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
